/Packages/Anno.Plugs.YYTestService/obj
/.vs
**/**/*.dll
/AnnoDemo.sln.DotSettings.user
/Packages/**/obj
/Packages/**/bin
/**/bin
/**/obj
/**/bin/Debug/netcoreapp3.1
/**/Anno.Plugs.YYTestService/bin
/**/**/bin
