/Packages/dym.Plugs.YYTestService/obj
/.vs/dymDemo/DesignTimeBuild/.dtbcache
/.vs/dymDemo/v16/.suo
/.vs/dymDemo/v16/Server/sqlite3/db.lock
/.vs/dymDemo/v16/Server/sqlite3/storage.ide
/.vs/dymDemo/v16/Server/sqlite3/storage.ide-shm
/.vs/dymDemo/v16/Server/sqlite3/storage.ide-wal
**/**/*.dll
/dymDemo.sln.DotSettings.user
/Packages/**/obj/Debug/netstandard2.0
/**/bin/Debug/netcoreapp3.0
/**/obj/Debug/netcoreapp3.0
/**/obj
/**/bin/Debug/netcoreapp2.2
/**/dym.Plugs.YYTestService/bin/Debug/netstandard2.0
/**/**/bin/Debug/netstandard2.1
/**/**/bin/Debug/netstandard2.0
